body{
    font-family: 'Inter', sans-serif !important;
    color: #1f1f1f !important;
    font-size: 14px !important;
}

/* REESCRITA BOOTSTRAP */
.btn-primary,
.nav-pills .nav-link.active{
    background-color: #57B6EC !important;
}
.btn-primary{
    border: none !important;
}
.btn-primary:hover,
.btn-primary:active{
    background-color: #1e93d5 !important;
    border-color: #1e93d5 !important;
}
.nav-pills a, #esqueci-senha a{
    color: #1C1C1C !important;
}
.btn-outline-primary{
    border-color: #57B6EC !important;
    color: #57B6EC !important;
}
.btn-outline-primary:hover{
    background-color: #57B6EC !important;
    border-color: #57B6EC !important;
    color:#F2F2F2 !important;
}
.accordion-button:not(.collapsed){
    color: #57B6EC !important;
}
.cursor-pointer{
    cursor: pointer !important;
}
.cursor-pointer:hover{
    font-weight: bold !important;
}

/* MENU ESQUERDO */

#menu-esquerdo .nav-pills .nav-link.active a
{
    color: #F2F2F2 !important;

}
#menu-esquerdo .nav-pills .nav-link a
{
    text-decoration: none !important;
}


#menu-esquerdo .nav-pills .nav-link.active,
#menu-esquerdo .nav-pills .nav-link.active2{
    padding: 5px 15px !important;
    text-decoration: none !important;
}
#menu-esquerdo .nav-pills .nav-link.active2{
    background-color: #F2F2F2 !important;
}

#menu-esquerdo .nav-pills .nav-link.active2::before,
#menu-esquerdo .nav-pills .nav-link.active::before 
{
    content: "\00a0 " !important;
    margin: 0 5px 0 -10px !important;
    background-color: #000 !important;
    color: #000 !important;
    border-radius: 20px !important;
}

#menu-esquerdo .titulo{
    font-size: 16px !important;
}
#esqueci-senha{
    margin: 0 0 2em 0 !important;
    padding: 0 !important;
}
#form-login-esquerdo input[type="email"]{
    width: 100% !important;
    border-bottom: none !important;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    padding: 10px 5px !important;
    text-align: center !important;
    border: 1px solid #a3a3a3 !important;
    outline: none !important;
}
#form-login-esquerdo input[type="password"]{
    width: 100% !important;
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    padding: 10px 5px !important;
    text-align: center !important;
    border: 1px solid #a3a3a3 !important;
    margin-top: -2px !important;
    outline: none !important;
}
#form-login-esquerdo .form-check-input:checked {
    background-color: #0d6efd !important;
    border-color: #0d6efd !important;
}

/* CONTEUDO DIREITO */
#conteudo-direito table{
    width: 100% !important;
}
#conteudo-direito .numero-indicador{
    font-size: 40px !important;
    font-weight: bold !important;
    color: #57B6EC !important;
    margin-left: 10px !important;
}
#conteudo-direito .com-borda{
    border: 1px solid #333 !important;
    padding: 1em !important;
    border-radius: 10px !important;
}
#conteudo-direito .row.contem-duas-colunas{
    gap: 2% !important;
}
#conteudo-direito .row.contem-duas-colunas .col-6 {
    width: 49% !important;
}
#conteudo-direito span.filtro-selecionado {
    background: #E6E6E6 !important;
    padding: 4px 7px !important;
    border-radius: 5px !important;
    margin-left: 5px !important;
    font-size: 12px !important;
}
#conteudo-direito span.filtro-selecionado::after{
    display: inline-block !important;
    content: "\00d7" !important;
    cursor: pointer !important;
    font-size: 16px !important;
    margin-left: 5px !important;
}


#table-questionarios{
    font-size: 16px !important;
}
#table-questionarios tr{
    border-color: transparent !important;
}
#table-questionarios .desativado{
    color: #999 !important;
}
.border-none{
    border: none !important;
}
.card-equipe img{
    border-radius: 20px !important;
    width: 60% !important;
}
#accordionAjuda{
    margin: 0 -1em !important;
}
#accordionAjuda .accordion-item {
    margin-bottom: 15px !important;
    border: 1px solid #3e3e3e !important;
    border-radius: 10px !important;
    outline: none !important;
}
#accordionAjuda .accordion-button{
    background: none !important;
    outline: none !important;
}

/* ICONES */
.texto-com-icone{
    display: flex !important;
    padding-bottom: 0px !important;
    align-items: center !important;
}
.icone{
    display: inline-block !important;
    margin-right: 5px !important;
    background-repeat: no-repeat !important;
}
.icone.icone-dados-plataforma{
    width: 18px !important;
    height: 18px !important;
    background-image: url('../assets/img/icons/data.svg') !important;
}
.icone.icone-ajuda{
    width: 18px !important;
    height: 19px !important;
    background-image: url('../assets/img/icons/help.svg') !important;
}
.icone.icone-equipe{
    width: 21px !important;
    height: 18px !important;
    background-image: url('../assets/img/ico-equipe.svg')
}
.icone.icone-termos{
    width: 18px !important;
    height: 19px !important;
    background-image: url('../assets/img/icons/file.svg') !important;
}
.icone.icone-politica{
    width: 18px !important;
    height: 19px !important;
    background-image: url('../assets/img/icons/lock.svg') !important;
}
.icone.icone-genero{
    width: 18px !important;
    height: 19px !important;
    background-image: url('../assets/img/icons/genero.svg') !important;
}
.icone.icone-racial{
    width: 18px !important;
    height: 19px !important;
    background-image: url('../assets/img/icons/mao.svg') !important;
}
.icone.icone-cargah{
    width: 18px !important;
    height: 19px !important;
    background-image: url('../assets/img/ico-cargah.svg') !important;
}
.icone.icone-filtro-plataforma{
    width: 18px !important;
    height: 19px !important;
    background-image: url('../assets/img/ico-filtro-plataforma.svg') !important;
}

.icone.icone-area{
    width: 18px !important;
    height: 19px !important;
    background-image: url('../assets/img/ico-area.svg') !important;
}
.icone.icone-escolaridade{
    width: 18px !important;
    height: 19px !important;
    background-image: url('../assets/img/icons/graduation.svg') !important;
}
.icone.icone-faixa-etaria{
    width: 16px !important;
    height: 17px !important;
    background-size: contain !important;
    background-image: url('../assets/img/icons/age.svg') !important;
}
.icone.icone-intervalo{
    width: 18px !important;
    height: 19px !important;
    background-image: url('../assets/img/icons/timer.svg') !important;
}
.icone.icone-livro{
    width: 14px !important;
    height: 16px !important;
    background-image: url('../assets/img/icons/livro.svg') !important;
}
.icone.icone-olho{
    width: 27px !important;
    height: 27px !important;
    background-size: contain !important;
    background-image: url('../assets/img/icons/eye-open.svg') !important;
}
.icone.icone-olho-riscado{
    width: 27px !important;
    height: 27px !important;
    background-size: contain !important;
    background-image: url('../assets/img/icons/eye-slash.svg') !important;
}
.icone.icone-redondo-azul{
    width: 18px !important;
    height: 19px !important;
    background-image: url('../assets/img/icons/ponto-azul.svg') !important;
}
.icone.icone-redondo-verde{
    width: 18px !important;
    height: 19px !important;
    background-image: url('../assets/img/icons/ponto-verde.svg') !important;
}

.icone.icone-redondo-preto{
    width: 18px !important;
    height: 19px !important;
    background-image: url('../assets/img/icons/ponto-preto.svg') !important;
}

/* FOOTER */
footer{
    background-color: #BDBDBD !important;
    color: #333 !important;
    font-size: 16px !important;
    line-height: 30px !important;
}

footer ul{
    list-style: none !important;
    padding: 0 !important;
    margin: 0 !important;
}

footer a{
    color: #333 !important;
    text-decoration: none !important;
}

footer a:hover{
    color: #000 !important;
    text-decoration: underline !important;
}

#footer-logos{
    gap: 50px !important;
}

#footer-logos img{
    width: 100px !important;
}

/* ADICIONADO POR TONY*/

.rotate_plataforma{

    transform: rotate(45deg); /* Equal to rotateZ(45deg) */
    background-color: #1e93d5;
    margin-top:15px;
    text-align: center;

}
.tag-filtro
{
    height: 22px;
    font-weight: 400;
    border: 1px solid #1C1C1C;
    border-radius: 10px;
    font-size: xx-small;
    
}
.tag-filtro:hover
{
    
    font-weight:600;
    border: 1px solid #1C1C1C !important;
    
    
}
.tag-filtro::after
{
    display: inline-block !important;
    content: "\00d7" !important;
    cursor: pointer !important;
    
}



.rotate_filtro{
    transform: rotate(45deg); /* Equal to rotateZ(45deg) */
    background-color: yellowgreen;
    margin-top:15px;
    text-align: center;

}

.span-i-um{
    width: 75%;
    text-align: start;
}
.span-i-dois{
    flex-grow: 1;
    text-align: end;
    float: right;
    padding-right: 5px;
    color:#53BBE6
}
.span-i-tres{
    flex-grow: 0;
    text-align: end;
    float: right;
    color:#000;
    padding-right: 5px;
}
.ul-lista-perfil li{
    padding-left: 0px;
    list-style: none !important;
    color:black;
}

#form-personalizado-esquerdo input[type="date"]{
    width: 100% !important;
    border-radius: 10px !important;
    padding: 10px 5px !important;
    text-align: center !important;
    border: 1px solid #a3a3a3 !important;
    margin-top: -2px !important;
    outline: none !important;
}
.link-questao 
{
    text-decoration: none;
    color:#1C1C1C
}


/* BOTAO LIGADO*/


.toggle {
    cursor: pointer;
    display: inline-block;
}
.toggle-perfil {
    font-size: x-small;
}
.toggle-switch {
    display: inline-block;
    background: #ccc;
    border-radius: 16px;
    width: 35px;
    height: 20px;
    position: relative;
    vertical-align: middle;
    transition: background 0.25s;
}
.toggle-switch:before, .toggle-switch:after {
    content: "";
}
.toggle-switch:before {
    display: block;
    background: linear-gradient(to bottom, #fff 0%, #eee 100%);
    border-radius: 50%;    
    width: 12px;
    height: 12px;
    position: absolute;
    top: 4px;
    left: 5px;
    transition: left 0.25s;
}
.toggle:hover .toggle-switch:before {
    background: linear-gradient(to bottom, #fff 0%, #fff 100%);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}
.toggle-checkbox:checked + .toggle-switch {
    background: #57B6EC;
}
.toggle-checkbox:checked + .toggle-switch:before {
    left: 18px;
}
.toggle-checkbox {
    position: absolute;
    visibility: hidden;
}
.col-grande
{
    width: 25% !important;
    
    padding-left:0px !important;
    
    
}
.r2-check{
    width: 100% !important;
    margin: 0px !important;
    padding: 0px !important;
}
.ativo2 {
    background-color: #57B6EC !important;
    color:white !important;
    font-size: small !important;
    padding:4px !important;
    border-radius: 2px;
    text-decoration: none;
}

.ativo_q {
    font-size: small !important;
    padding:4px !important;
    border-radius: 2px;
    text-decoration: none !important;
    color:#000 !important;
    border:1px solid #BDBDBD;
    
    
}
.ativo_c {
    font-size: small !important;
    padding:4px !important;
    border-radius: 2px;
    text-decoration: none !important;
    color:#eee !important;
    border:1px solid #BDBDBD;
    background-color: #4D4D4D !important;
    
}

.lista_q {
    padding-bottom: -10px !important;
    margin-bottom: -10px !important;
    
}
.lista_q:hover {
    background-color: #57B6EC;
    border-radius: 3px !important;
    cursor:pointer !important;
    
}
.lista_q p a:hover {
    text-decoration: none !important;
    color:white !important;
    
}

.lista_qsel {
    background-color: #57B6EC;
    color:white !important;
    font-weight: bold !important;
    border-radius: 3px !important;
    
}
.lista_qsel p a {
    
    color:white !important;
    
}

.lista_qsel p span b {
    
    color:white !important;
    
}
